%div
  .row{style:"width:100%;"}
    .twelve.columns{style: "text-align:center;"}
      %h3 Расчет заработной платы
  .row{style:"width:100%;padding-left:50px;"}
    .six.columns
      %ul
        %li
          %a{href: "#ch_1"} Краткое вступление к расчету з\п
        %li
          %a{href: "#ch_2"}1. Заполнение справочников
          %ul
            %li 
              %a{href: "#ch_2_part1"}1.1 Справочник графиков работы
            %li 
              %a{href: "#ch_2_part2"}1.2 Справочник сотрудников
            %li 
              %a{href: "#ch_2_part3"}1.3 Справочник явок/неявок
            %li 
              %a{href: "#ch_2_part4"}1.4 Справочник подразделении организации
            %li 
              %a{href: "#ch_2_part5"}1.5 Справочник должностей
            %li 
              %a{href: "#ch_2_part6"}1.6 Сведение о работниках организации
        %li
          %a{href: "#ch_3"}2. Подготовка к расчету з\п и просмотр
          %ul
            %li 
              %a{href: "#ch_3_part1"}2.1 Формирование сведение о графиков работы
            %li 
              %a{href: "#ch_3_part2"}2.2 Формирование табеля учета отработанного времени
            %li 
              %a{href: "#ch_3_part3"}2.3 Выполнить начисление, удержание и просмотр расчета
  .row{style:"width:100%;"}
    .ten.columns{style: "text-align:center;"}
      %a{name: "ch_1"}
      %h4 Краткое вступление к расчету з\п
  .row{style:"width:100%;"}
    .ten.columns
      %p    1. Расчет з\п обычно производиться повременно или сдельно. Повременно – это тип расчета который учитывает отработанный время, в то время как сдельная на определенную сделанную работу. В этом приложение используется тип «Повременной оплаты труда» Так как чтоб учитывать отработанный время,  требуется определенный график по которым будить работать работники. Для чего используется сведение графиков работы(по каким дням недели сколько часов работает).Еще есть и норма рабочего времени оно заложено программно.
      %p 2. Человек может работать полный график или может отсуствовать некоторый дне. По этому для определение отработанного времени требуется табель. Сведение отработанного времени заполняется сначало из графика(бутто все сотрудники работали полный график). После чего делается коррекции табеля, вносятся нужные информации. 
      %p 3. Когда начинается автоначисление, по табелю вычисляется отработанный время и на эту отработанную время начисляется з\п. Кроме автоначисление бывает и разного радо начисление которых не возможно автоматизировать. По этому эти информации заноситься в ручную.
      %p 4. Из начисленной суммы удерживается разные удержаиние. Подоходный налог, пенсионный взнос. профсоюзный взнос и т.д. Подоходный налог начисляется по шкале и оно описано в самом модели. Расчеты с бюджетом меняется ежемесяцно, ежегодно. Поэтому надо было делать эти данный периодическими, пока нет на это необходимости. В журнале расчетов есть возможность просмотрить расчеты по сотрудникам.

  .row{style:"width:100%;"}
    .ten.columns{style: "text-align:center;"}
      %a{name: "ch_2"}
      %h4 1. Заполнение справочников
  .row{style:"width:100%;padding-left:100px;"}
    %ul
      %li 
        %a{href: "#ch_2_part1"}1.1 Справочник графиков работы
      %li 
        %a{href: "#ch_2_part2"}1.2 Справочник сотрудников
      %li 
        %a{href: "#ch_2_part3"}1.3 Справочник явок/неявок
      %li 
        %a{href: "#ch_2_part4"}1.4 Справочник подразделении организации
      %li 
        %a{href: "#ch_2_part5"}1.5 Справочник должностей
      %li 
        %a{href: "#ch_2_part6"}1.6 Сведение о работниках организации
  .row{style:"width:100%;"}
    .ten.columns{style: "text-align:center;"}
      %a{name: "ch_2_part1"}
      %h5 1.1 Справочник графиков работы
  .row{style: "width:100%;"}
    .ten.columns{style: "padding-left: 50px;"}
      %p Справочник графиков работы нужна для формирование сведение графиков работы. Оно содержит цикл и смена графика. По циклу и номерам смен даты отсчета формируется сведение графиков работы. У каждого графика будить один единственный цикл по которым прокручивается каждая смена.  Даты отсчета смен – это начальный день определенного даты смены.
    
  .row{style:"width:100%;"}
    .ten.columns{style: "text-align:center;"}
      %a{name: "ch_2_part2"}
      %h5 1.2 Справочник сотрудников
  .row{style: "width:100%;"}
    .ten.columns{style: "padding-left: 50px;"}
      %p Справочник сотрудников содержить работников организации. Ключевым полям является поля CODE(табельный номер)
  .row{style:"width:100%;"}
    .ten.columns{style: "text-align:center;"}
      %a{name: "ch_2_part3"}
      %h5 1.3 Справочник явок/неявок
  .row{style: "width:100%;"}
    .ten.columns{style: "padding-left: 50px;"}
      %p Справочник явок/неявок содержить кодов явок/неявок. Допустим сотрудник взял оплачиваемый отгул и на его табель ставиться код неявок оплачиваемого отгула. Если взял без содержание то на табель ставиться дне без содержание и не будить оплаты на эти дне.
  .row{style:"width:100%;"}
    .ten.columns{style: "text-align:center;"}
      %a{name: "ch_2_part4"}
      %h5 1.4 Справочник подразделение организации
  .row{style: "width:100%;"}
    .ten.columns{style: "padding-left: 50px;"}
      %p Справочник подразделение организации - это список имеющихся подразделение организации(цеха, отделы и т.д). Ключевым полям является поля "CODE"
  .row{style:"width:100%;"}
    .ten.columns{style: "text-align:center;"}
      %a{name: "ch_2_part5"}
      %h5 1.5 Справочник должностей
  .row{style: "width:100%;"}
    .ten.columns{style: "padding-left: 50px;"}
      %p Справочник должностей - это список имеющихся должности организации. Ключевым полям является поля "CODE"
  .row{style:"width:100%;"}
    .ten.columns{style: "text-align:center;"}
      %a{name: "ch_2_part6"}
      %h5 1.6 Сведение о работниках организации
  .row{style: "width:100%;"}
    .ten.columns{style: "padding-left: 50px;"}
      %p Сведение о работниках организации сушествует для того чтоб учитывать деятельность сотрудников. Сотрудник устроиться на работу. В далнейшщим повыщается оклад, разряд, может будить какие-то надбавки и т.д. Возможно будить перемешение с одной подразделение в другой и т.д. Сведение содержить информации по датам, с какой даты менялся допустим оклад, разряд, должность или подразделения и т.д

  .row{style:"width:100%;"}
    .ten.columns{style: "text-align:center;"}
      %a{name: "ch_3"}
      %h4 2. Подготовка к расчету з\п
  .row{style:"width:100%;padding-left:100px;"}
    %ul
      %li 
        %a{href: "#ch_3_part1"}2.1 Формирование сведение о графиков работы
      %li 
        %a{href: "#ch_3_part2"}2.2 Формирование табеля учета отработанного времени
      %li 
        %a{href: "#ch_3_part3"}2.3 Выполнить начисление, удержание и просмотр расчета
  .row{style:"width:100%;"}
    .ten.columns{style: "text-align:center;"}
      %a{name: "ch_3_part1"}
      %h5 2.1 Формирование сведение о графиков работы
  .row{style: "width:100%;"}
    .ten.columns{style: "padding-left: 50px;"}
      %p Для формирование графиков в меню <<Обработки>> выберим <<Заполнить графиков работы>>. Задаем даты начало и окончание и жмем <<Выполнить>>. Можно сформировать по классификатору графика и по смены. Номер графика по которым работает сотрудники определяется как "Номер кассификатора"+"Номер смены". Допустим классификатор 05 а смена 1, вот и получается что сотрудник работает по графику 051.
  .row{style:"width:100%;"}
    .ten.columns{style: "text-align:center;"}
      %a{name: "ch_3_part2"}
      %h5 2.2 Формирование табеля учета отработанного времени
  .row{style: "width:100%;"}
    .ten.columns{style: "padding-left: 50px;"}
      %p В меню <<Сведение>> переходим на <<Табель рабочего времени>> откроется список табеля. По кнопки <<Сформировать автоматический за>> можно сформировать табель по графикам работы. Предваретилно надо поменят Расчетный период. Для этого переходим по <<Параметры>> <<Изменение расчетного периода>>. По кнопки <<Создать запись>> можно вручную создать запись табеля. Это будить примая коррекция табеля по неявкам.
  .row{style:"width:100%;"}
    .ten.columns{style: "text-align:center;"}
      %a{name: "ch_3_part3"}
      %h5 2.3 Выполнить начисление, удержание и просмотр расчета
  .row{style: "width:100%;"}
    .ten.columns{style: "padding-left: 50px;"}
      %p В меню <<Расчеты>> имеется подпункты <<Журнал расчетов>>, <<Начисление>>, <<Удержание>>. По которым можно создавать записи как в ручную(то есть разные начисление и удержание) так и автоматом вычислят расчеты. По журналу расчетов можно просмотрить по табельным номерам сотрудников их расчеты.

