%div{:style=>"margin-top:10px;"}
  = flash[:notice]
  %div{:class => "form_1c", :style => "width:600px;"}
    %div{:class => "form_1c_title"} 
      %span Список цехов
      %span{:style=>"float:right;"} X
    %div{:class=>"form_content"}
      %div{:class=> "top_tool_box"}
        = link_to content_tag('span', "Создать" , :class=>"add"), new_reference_department_path, {:class => "small button"}
      %div{:class => "elements"}
        %table{:border=>"1", :class=>"data_table"}
          %thead
            %th №
            %th Код
            %th{:colspan=>"3"} Наименование
          %tbody
            - i=1
            - @departments.each do |d|
              %tr
                %th{:scope=>"row"}=i
                %td=d.code
                %td=d.name
                %td{:style=>"text-align:center"}
                  =link_to image_tag("panel_tools/edit.png", :size=>"12x12"), edit_reference_department_path(d), :title => "Редактировать"
                %td{:style=>"text-align:center"}
                  =link_to image_tag("panel_tools/delete.png", :size=>"12x12"), reference_department_path(d), :method => :delete, :confirm => "Удалить выбранный график ?", :title => "Удалить"
                - i += 1
      %div{:class => "bottom_tool_box"} Здесь будить пагинация

